<p>
  <b>Name:</b>
  <%=h @person.name %>
</p>

<p>
  <b>Latitude:</b>
  <%=h @person.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @person.longitude %>
</p>

<p>
  <b>Zip:</b>
  <%=h @person.zip %>
</p>

<p>
  <b>Twitter:</b>
  <%=h @person.twitter %>
</p>

<p>
  <b>Url:</b>
  <%=h @person.url %>
</p>

<h2>Conferences</h2>
<ul>
<% @person.conferences.each do |conf| %>
  <li><%= "#{conf.name} #{conf.year}"%></li>  
<% end %>
</ul>
<p>
<%= link_to "Add to list of people attending #{@conf.name}", "/people/add/#{@person.id}" %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>